<ion-view view-title="Sign-In">
  <ion-content>
    <div class="list">
      <div class="item card">
        <div class="logo text-center padding">
          <img src='img/tuhc.png'>
        </div>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="loginIonic()">
        Sign-In
      </button>

      <button class="button button-block button-dark" ng-click="loginFake()">
        Move Past Login
      </button>
    </div>
  </ion-content>
</ion-view>